<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258468276697-heogfepjhk6plh3p2uvfn2v8gqptd9bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258468276697-heogfepjhk6plh3p2uvfn2v8gqptd9bi</string>
	<key>API_KEY</key>
	<string>AIzaSyAnzSSOX-wwcB0oxZ8fIDKMDrvu5LdgCkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>258468276697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookSpa</string>
	<key>PROJECT_ID</key>
	<string>book-spa</string>
	<key>STORAGE_BUCKET</key>
	<string>book-spa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258468276697:ios:cc7b91914109a7453c91c8</string>
</dict>
</plist>